<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoAcervus</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Bem-vindo ao AutoAcervus</h1>
            <p>A solução final para renovações de livros de bibliotecas da Unicamp!</p>
        </header>
        <main>
            <h2>Registre-se agora!</h2>
            <p>Poupe viagens às bibliotecas e maximize o tempo de empréstimo de seus livros!</p>
            <a th:href="@{/register}" class="register-button">Registrar agora</a>
        </main>
    </div>
</body>
</html>
