<!DOCTYPE html>
<html lang="PT">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="">
<div style="">
  <img />
  <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Adeus!</h1>
  <div style="margin-left: 2rem; text-align: justify; font-family:'Courier New', Courier, monospace;">
    <p>
      Sua conta SBU foi removida do sistema do autoacervus. Seus empréstimos não serão mais renovados automaticamente. Sinta-se livre para voltar a qualquer
      hora :)
    </p>
    <br>
    <p>- Equipe Autoacervus</p>
  </div>
</div>
</body>
</html>
