<!DOCTYPE html>
<html lang="PT">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="">
<div style="">
  <img />
  <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif">Bem-vindo ao autoacervus!</h1>
  <div style="margin-left: 2rem; text-align: justify; font-family:'Courier New', Courier, monospace;">
    <p>
      Sua conta SBU foi registratada no sistema do autoacervus com sucesso! A partir de agora, seu empréstimos serão renovados automaticamente.
    </p>
    <p>
      Fique atento à sua caixa de email. Enviaremos informações importantes sobre seus empréstimos, como notificações de renovação ou avisos de quando
      seus empréstimos não puderem ser mais renovados virtualmente. Caso não deseje receber essas notificações, acesse sua conta e desative a opção de
      receber emails.
    </p>
    <br>
    <p>- Equipe Autoacervus</p>
  </div>
</div>
</body>
</html>
